:root {
    --primary: #ffffff;
    --secondary: #23264e;
    --tertiary: #66bcd1;
    --dark: #000000;
    --border-radius: 0.2rem;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondary);
    line-height: 1.5;
    font-size: 16px;
}