:root {
    --primary: #ffffff;
    --secondary: #23264e;
    --tertiary: #66bcd1;
    --dark: #000000;
    --border-radius: 0.2rem;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondary);
    line-height: 1.5;
    font-size: 16px;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin: 0;
    color: var(--tertiary);
    line-height: 1.25;
    letter-spacing: 1px;
}

h2 a:visited {
    color: var(--tertiary);
  }
  
  h2 a {
    color: var(--primary);
  }
  
  header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  main {
    margin: 20px auto;
    width: 94%;
  }
  
  a {
    text-decoration: none;
  }
  
  p {
    font-size: 1rem;
    color: var(--dark);
  }

  input {
    
  }