<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
  <div>
    <header class="d-flex justify-content-between m-4">
      <h1>
        <a href="/">&#9889;Tech Blog</a>
      </h1>
    </header>
    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>
  </div>
</body>

</html>
